<div class="table-content" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
    @for (day of currentDays; track day) {
    <div class="drag-container">
        <div class="drag" cdkDrag [cdkDragDisabled]="day.appointments.length == 0" (click)="changeDate(day.date)">
            <div class="appointment-placeholder" *cdkDragPlaceholder></div>
            <div>
                @for (appointment of day.appointments; track appointment) {
                <div class="appointment-title">
                    {{appointment.title}}
                </div>
                }
            </div>
        </div>
        <div
            [ngClass]="{'calendar-day': true, 'current': day.currentMonth, 'selected': day.date.getTime() === dateToday.getTime()}">
            <p>{{day.number}}</p>
        </div>
    </div>
    }
</div>