<div class="appointent-container">
    <h2 class="heading">Book your appoinments</h2>
    <div class="selected-date">
        {{_calendarService.formatDate(this.selectedDate)}}
    </div>
    <form [formGroup]="meetingForm">
        <mat-form-field class="title">
            <mat-label>Add title and time</mat-label>
            <input matInput formControlName="title">
            @if (!meetingForm.valid) {
            <mat-error>Please enter atleast 5 characters</mat-error>
            }
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="bookAppointment()" class="mt-btn">Book</button>
    </form>
    <br />
    <br />
    <div class="appointment-list">
        @for (appointment of appointments; track $index) {
        <mat-card appearance="raised">
            <mat-card-header>
                <mat-card-title>{{appointment.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <div class="date">
                    <span class="date">
                        {{appointment.date.getDate()}}
                    </span>
                    <span class="month">
                        {{_calendarService.months[appointment.date.getMonth()]}} {{appointment.date.getFullYear()}}
                    </span>
                </div>
                <div class="action">
                    <button mat-icon-button type="button">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" (click)="openDialog(appointment.title, appointment.id)"></mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <br />
        }
    </div>
</div>