<div class="appointent-container">
    <h2 class="heading">Book your appoinments</h2>
    <div class="selected-date">
        {{_calendarService.formatDate(this.selectedDate)}}
    </div>
    <form [formGroup]="meetingForm" (submit)="bookAppointment()">
        <div class="time-fields">
            <mat-form-field>
                <mat-label>Select hour</mat-label>
                <mat-select formControlName="start_hour" (selectionChange)="selectStartHour($event)">
                    @for (hour of _calendarService.formattedHours; track $index) {
                    <mat-option [value]="hour">{{hour}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select hour</mat-label>
                <mat-select formControlName="end_hour">
                    @for (hour of end_hours; track $index) {
                    <mat-option [value]="hour">{{hour}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
           
        </div>
        <mat-form-field class="title">
            <mat-label>Add title and time</mat-label>
            <input matInput formControlName="title">
            @if (!meetingForm.valid) {
            <mat-error>Please enter atleast 5 characters</mat-error>
            }
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit" class="mt-btn">Book</button>
    </form>
    <br />
    <div class="appointment-list">
        @for (appointment of appointments; track $index) {
        <mat-card appearance="raised">
            <mat-card-header>
                <mat-card-title>{{appointment.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <div class="date">
                    <span class="date">
                        {{appointment.date.getDate()}}
                    </span>
                    <span class="month">
                        {{_calendarService.months[appointment.date.getMonth()]}} {{appointment.date.getFullYear()}}
                         {{appointment.start_hour | removeUnderscore }} - {{appointment.end_hour | removeUnderscore}}
                    </span>
                </div>
                <div class="action">
                    <button mat-icon-button type="button">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"
                            (click)="openDialog(appointment.title, appointment.identifier)"></mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <br />
        }
    </div>
</div>