<div class="appointment-container">
    <div class="appointment-list">
        @for (appointment of appointments; track $index) {
        <mat-card appearance="raised">
            <mat-card-header>
                <mat-card-title>{{appointment.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <div class="date">
                    <span class="date">
                        {{appointment.date.getDate()}}
                    </span>
                    <span class="month">
                        {{_calendarService.months[appointment.date.getMonth()]}} {{appointment.date.getFullYear()}}
                         {{appointment.start_hour | removeUnderscore }} - {{appointment.end_hour | removeUnderscore}}
                    </span>
                </div>
                <div class="action">
                    <button mat-icon-button type="button" (click)="openDialog(appointment.title, appointment.identifier)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <br />
        }
    </div>
</div>